h1 {
    text-align: center;
    background-color:mediumblue;
    color: gold;
}

body {
    background-image: url(/wallpaper_code2.jpg)
}

h2, h3 {
    color: mediumblue;
}

img {
    width: 420px; height: 420px;
    margin: 10px;
}

th {
    text-align: start;
}

p {
    
    color: whitesmoke;
    background-color: rgb(15, 15, 15);
}

.white {
    color: whitesmoke;
}

th {
    color: mediumblue;
}

td {
    color: whitesmoke;
}

#i3 {
    width: 420px;
    height: 100px;
}

li {
    color: whitesmoke;
}

a:visited {
    color: rgb(255, 0, 242)
}

a {
    color: whitesmoke;
}